---
swagger: '2.0'

info:
  title: Servicemap API
  description: |-
      The Servicemap API provides categorized data on services, both public and private,
      and service locations within a city or metropolitan area.

      The API provides data in the JSON format, in a RESTful fashion.

      The two most important resources provided by the API are (1) units,
      which are concrete physical locations, service points, which
      provide services to citizens, and (2) services, which are the
      categories of services that can be provided by units.

      Several fields are multilingual. These are implemented as objects with each language variant
      as property.

  termsOfService: (depends on data provider)
  version: v2

host: api.hel.fi
basePath: /servicemap/v2

schemes:
  - https
  - http

produces:
  - application/json

tags:
  - name: unit
    description: Retrieve units (service points) filtered by various criteria
  - name: service
    description: Get categories of services that can be provided by units
  - name: organization
    description: Retrieve information about organizations providing services
  - name: search
    description: Fulltext search through units, services, and also street addresses
  - name: accessibility
    description: Get rules for calculating accessibility shortcomings of a unit
  - name: geography
    description: Spatial information about municipalities where the services are located


parameters:
  page_param:
    name: page
    in: query
    description: request particular page in paginated results
    required: false
    type: integer
  pagesize_param:
    name: page_size
    in: query
    description: request that server delivers page_size results in response
    required: false
    type: integer
  include_param:
    name: include
    in: query
    type: array
    items:
      type: string
    description: Embed the complete content of given reference-type fields directly into the response, otherwise they are returned as identifiers.
  unit_q_param:
    name: text
    in: query
    description: Search (case insensitive) through all relevant text fields of unit (name, description, municipality name, street address, organizational departent) of an event (default language or language explicitly specified by language query parameter).
    required: false
    type: string
  unit_bbox_param:
    name: bbox
    in: query
    type: array
    items:
      type: string
    minItems: 4
    maxItems: 4
    description: Search for events that are within this bounding box. Decimal coordinates are given in order west, south, east, north. Period is used as decimal separator.
  # FIXME: add all missing filters to units

definitions:

  unit:
    type: object
    title: Unit
    description: Units are physical locations where organizations provide services for patrons
    required:
    - id
    - name
    - last_modified_time
    - service_nodes
    - services
    properties:
      id:
        description: The primary, unique and persistent identifier of the unit
        type: integer
      name:
        description: The name of the unit [multilingual]
        type: object

      location:
        type: object
        properties:
          type:
            type: string
            description: Currently always \"Point\"
          coordinates:
            type: array
            description: The unit\'s coordinates in WGS84.
            items:
              type: float
              description: a coordinate

      services:
        "$ref": "#/definitions/service"
        description: The primary classification categories for the unit; the services provided by the unit. Use the include=services query parameter to get more detailed qualifications of how the unit provides the services.

      service_nodes:
        "$ref": "#/definitions/service_node"
        description: The hierarchical service nodes which the unit corresponds to; the secondary classification categories for the unit.
      root_service_nodes:
        type: array
        description: The unique roots of the service node hierarchy for this unit\'s service nodes, as integer identifiers
        items:
          type: integer

      street_address:
        description: The first part of the street address, containing the street name and building number. This address should be used for locating the unit geographically, not for sending mail.
        type: string
      address_zip:
        description: The zip code for the street address
        type: string
      municipality:
        "$ref": "#/definitions/administrative_division"
        description: The municipality in which the unit is located

      address_postal_full:
        description: The full postal address, which should be used for sending mail, not for locating the unit.
        type: string

      email:
        description: The main email address
        type: string
      phone:
        description: The phone number or numbers for contacting the unit
        type: string
      call_charge_info:
        description: Information about the fees accumulated when calling the unit
        type: string
      fax:
        description: The fax number
        type: string
      www:
        description: The main home page, or the most relevant site available for the unit
        type: string

      description:
        type: string
        description: A textual description of the unit, provided for the end user
      short_description:
        type: string
        description: A rarely used field containing a shorter description of the unit
      connections:
        type: array
        items:
          "$ref": "#/definitions/unit_connection"

      # keywords:
      #   type: object
      #   description: A collection of multilingual additional keywords that are mainly used to make the full text search match relevant additional words for the unit.
      #   properties:
      #     language_key:
      #       type: array
      #       items:
      #         type: string
      #         description: A search keyword

      department:
        "$ref": '#/definitions/department'
        description: The immediate organizational subdivision that is responsible for this unit
      root_department:
        description: Departments are hierarchical; this is a shortcut to the root of the organization hierarchy of this unit
        "$ref": '#definitions/department'
      provider_type:
        type: string
        description: A description of how the service is provided by the organization providing it. One of a predefined set of values. # FIXME: describe values
      organizer_type:
        type: string
        description: The type or sector of the organization which immediately is responsible for the unit. Can differ from the department, which can eg. be a municipality buying the service
      organizer_name:
        type: string
        description: If the organization providing the service is different from the owning organization in the department field, eg. when a municipality purchases the service from a private business, the organizer name is provided here
      organizer_business_id:
        type: string
        description: If the organization providing the service is different from the owning organization in the department field, eg. when a municipality purchases the service from a private business, the organizer\'s business id is provided here

      picture_url:
        type: string
        description: A picture, usually a photograph of the unit or the building it is located in
      picture_caption:
        type: string
        description: A caption describing the picture in picture_url. May contain important copyright information about the picture.
      picture_entrance_url:
        type: string
        description: A separate photograph of the entrance to the unit
      streetview_entrance_url:
        type: string
        description: A link to a Google StreetView where the entrance to the unit is visible
      
        
      contract_type:
        description: A summarized description of how the service is provided in relation to the owning organizational department. Combines data from both provider_type and organizer_type.
        type: object
        properties:
          id:
            type: string
            description: A predefined type of contract type
          description:
            type: object
            description: An end-user facing description of the contract type, [multilingual]

      accessibility_phone:
        type: string
        description: The telephone number through which patrons can ask about the unit\'s accessibility
      accessibility_email:
        type: string
        description: An email address number through which patrons can ask about the unit\'s accessibility
      accessibility_www:
        type: string
        description: A link to a site providing details about the unit\'s accessibility
      accessibility_properties:
        type: array
        items:
          type: object
          description: List of accessibility properties of unit. These are the low level primitive measurements, from which the high level accessibility descriptions and especially shortcomings are derived.
          properties:
            variable:
              type: integer
            value:
              type:
                string
      accessibility_viewpoints:
        type: object
        description: A summary of the unit\'s accessibility for different accessibility viewpoints. The accessibility viewpoints are user profiles, eg. "using a wheelchair", "using a hearing aid". If the value for a coded viewpoint is red, the unit is not accessible for a user with the specified profile.

      created_time:
        type: string
        description: The date and time when the entry for the unit was created in the master database, in ISO 8601.
      last_modified_time:
        type: string
        description: The date and time when the entry for the unit was last modified in the API, in ISO 8601.

      data_source:
        type: string
        description: An identifier for the master database for the unit data
      identifiers:
        type: array
        items:
          type: object
          properties:
            namespace:
              type: string
            value:
              type: string
          
  unit_connection:
    title: Unit connection
    type: object
    description: A flexible, structured piece of information, which can contain contact details, links, textual notices, and opening hours.
    properties:
      section_type:
        type: string
        description: Specifies, which type of data this item represents. #FIXME specify types
      name:
        type: string
        description: User-readable label or description of the data
      email:
        type: string
      phone:
        type: string
      contact_person:
        type: string

  department:
    title: Department
    type: object
    description: A subdivision of a hierarchical organisation, or the root of the hierarchy, representing the whole organization

  administrative_division:
    title: Administrative division
    type: object
    description: A geographic administrative division, such as a municipality, a neighborhood/district, or an area for which a specific unit provides services

paths:
  /unit/:
    get:
      summary: foo bar
      description: |
        Ain\'t it nice
      responses:
        200:
          description: List of units
